<h1 class="headings text-center mt-4 py-2">Movies</h1>
<div class="container">
  <% @movies.each do |movie| %>
    <div class="cards">
      <div class="index_img">
         <%= image_tag(movie.image) %>
      </div>
      <div class="index_text">
          <h4><%= movie.title %></h4>
          <hr />
          <div class="index_btn">
            <%= link_to "Show", movie_path(movie), class: "form_btn" %>
          </div>
      </div>
    </div>
  <% end %>
  <div class="flickr_pagination">
    <%= will_paginate @movies, :container => false %>
  </div>
</div>
