<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h2 class="text-center mt-4"><%= @movie.title %></h2>
        <p class="card-text"><%= @movie.description %></p>
        <%= link_to "Edit", edit_movie_path(@movie), class: "btn btn-outline-info" %>
        <%= link_to "Delete", movie_path(@movie), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
  </div>
</div>