@import 'bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Squada+One&display=swap');
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

.w-50{
  margin: 10px;
  text-align: center;
}

html,
body {
  height: 100%;
}

.headings{
  font-family: 'Squada One', cursive;
}


body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    .footer {
      height: 200px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

.form_movie{
  background-color: #f8f4e5;
  border: 2px solid #f4570260;
  
}

.col-form-label {
  color: #c54703;
  font-size: 17px;
  font-family: 'Gruppo', cursive;

} 

/* CSS */
.form_btn {
  background-color: #c54703;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Gruppo', cursive;
  font-size: 17px;
  font-weight: 500;
  height: 50px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form_btn:hover,
.form_btn:focus {
  background-color: #ec5f12;
}
