<footer id="sticky-footer" class="flex-shrink-0 py-4 text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Facebook", "https://facebook.com", class: "text-white" %></small>
  </div>
</footer>